body,
header,
main,
footer {
    margin: 0;
    padding: 0;
}

/* navigation bar */

header {
    position: sticky;
    background-color: #08878b;
    padding: 10px 0;
    top: 0;
    z-index: 100;
}

.header {
    grid-area: header;
}

.navigation-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar li {
    margin-right: 20px;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.navigation-bar {
    display: grid;
    justify-content: right;
}

/* contact cards */

.business-container {
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-columns: repeat(9, 50px); 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-around;
}

.card-container1 {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
}

.card-container2 {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
}

.card-container3 {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
}

/* logo section */

.logo-image-container {
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    justify-content: space-between;
}

.logo-image-container img {
    height: 250px;
    width: 250px;
}

.logo-name-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.logo-image-container p {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* name section */

.logo-name-container {
    text-align: center;
    display: grid;
    justify-content: space-around;
}

/* contact section */

.logo-contact-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-self: flex-end;
    margin: 10px;
}

.logo-contact {
    display: flex;
    align-items: center;
}

.logo-contact img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* footer */

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 24px;
    height: 24px;
    padding: 0 5px;
}

.footer-section1 {
    display: grid;
    justify-content: center;
}

.footer-section3 {
    display: grid;
    justify-content: center;
}

.footer-bottom {
    display: grid;
    justify-content: center;
}

@media (max-width: 768px) {

    .navigation-bar li {
        margin-right: 10px;
    }

    .business-container {
        display: grid;
        grid-template-columns: repeat(16, 40px); 
        grid-template-rows: 1fr 1fr 1fr;
    }

    .logo-name-container {
        margin-left: 15px;
    }

    .logo-name-container img {
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-bottom: 12px;
    }

    .logo-image-container {
        display: none;
    }

    /* card container 1 */

    .card-container1 {
        grid-column-start: 6;
        grid-column-end: 12;
    }

    /* card container 2 */

    .card-container2 {
        grid-column-start: 6;
        grid-column-end: 12;
    }

    /* card container 3 */

    .card-container3 {
        grid-column-start: 6;
        grid-column-end: 12;
    }

    .footer-section p {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-section1 {
        display: none;
    }

    .footer-section2 {
        margin-left: 15px;
    }

}
