body,
header,
main,
footer {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* fonts and text */

html {
    font-family: Helvetica;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: black;
}

a {
    text-decoration: none;
}

/* navigation-bar */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(33, 134, 126);
    display: flex;
    justify-content: space-between;
}

.navigation-bar-logo img {
    height: 70px;
    width: 70px;
    margin-left: 15px;
}

.header {
    grid-area: header;
}

.navigation-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar li {
    margin-right: 20px;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.navigation-bar {
    display: grid;
    justify-content: right;
}

/* title bar container */

.title-bar-container {
    grid-area: title-bar-container;
    display: grid;
    justify-items: center;
}

/* bullet points */

.bullet-points {
    grid-area: bullet-points;
    display: grid;
    justify-items: center;
    height: 100%;
}

.services {
    margin-bottom: 50px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    line-height: 1.5;
}

.services-container a {
    text-decoration: none;
    color: #000000a8;
    font-size: 1.5rem;
    margin: 15px 10px;
}

.services-container a:hover {
    text-decoration: underline;
}

/* service descriptions */

.service-descriptions {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
}

/* containers */

.information-container {
    background-color: white;
    align-items: flex-start;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 50px 0;
    height: auto; /* Changed from fixed height to auto */
    display: flex;
    flex-direction: row; /* Default direction */
    margin: 15px;
}

.information-container-image {
    grid-area: information-container-image;
    position: relative;
}

.information-container-image img {
    height: 650px;
    width: 650px;
    border-radius: 8px;
}

.information-container-text {
    grid-area: information-container-text;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.information-container-text-title {
    margin-left: 20px;
}

.information-container-text-paragraph {
    margin-left: 20px;
    width: 90%;
    line-height: 1.5;
    font-size: 1.375rem;
}

.button-links {
    display: flex;
    padding: 20px;
}

.contact-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    border: 1px solid #08878b;
    border-radius: 5px;
}

.portfolio-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    border: 1px solid #08878b;
    border-radius: 5px;
    margin-left: 10px;
}

.portfolio-link a:hover {
    background-color: #08878b;
    border-radius: 5px;
}
    
.contact-link a:hover {
    background-color: #08878b;
    border-radius: 5px;
}

/* bathrooms */

.bathrooms {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* cabinets */

.cabinets {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* decks */

.decks {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* doors */

.doors {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* electrical */

.electrical {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* fences */

.fences {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* floors */ 

.floors {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* framing */

.framing {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* patios */

.patios {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* plumming */

/* .plumbing {
    display: grid;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
} */

/* remodels & rennovations */

.remodels {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* siding */ 

.siding {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* tiling */

.tiling {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* walls */

/* .walls {
    display: grid;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
} */

/* windows */ 

/* .windows {
    display: grid;
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
} */

.button {
    width: 100%;
    height: 50px;
    text-align: center;
}

/* footer */

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-section2 p {
    font-size: 1em;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 24px;
    height: 24px;
    padding: 0 5px;
}

.footer-section1 {
    display: grid;
    justify-content: center;
}

.footer-section3 {
    display: grid;
    justify-content: center;
}

.footer-bottom {
    display: grid;
    justify-content: center;
}

@media (max-width: 768px) {

    .navigation-bar-logo img {
        display: none;
    }

    .navigation-bar {
        padding: 10px;
    }

    .navigation-bar li {
        margin-right: 10px;
        font-size: 15px;
    }

    .service-descriptions {
        display: grid;
        grid-template-columns: -1fr 6fr -1fr;
    }

    .services-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
    
    .services-container a {
        font-size: 1.5rem;
    }

    .information-container {
        display: grid;
        grid-template-areas: "information-container-image"
                             "information-container-text";
    }

    .information-container-image {
        height: 100%;
        width: 100%;
    }

    .information-container-image img {
        height: 100%;
        width: 100%;
    }

    /* bathrooms */

    .bathrooms {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* cabinets */

    .cabinets {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* Decks */

    .decks {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* doors */

    .doors {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* electrical */

    .electrical {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* fences */

    .fences {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* floors */

    .floors {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* framing */

    .framing {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* patios */

    .patios {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* remodels */

    .remodels {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* siding */

    .siding {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    /* tiling */

    .tiling {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .footer-container p {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-section1 {
        display: none;
    }

    .footer-section2 {
        margin-left: 15px;
    }

}

