body,
header,
main,
footer {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* fonts and text */

html {
    font-family: Helvetica;
}

h2 {
    font-family: 'Times New Roman';
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* navigation-bar */

header {
    background-color: #08878b;
    padding: 10px 0;
    z-index: 100;
    position: sticky;
    top: 0;
}

.header {
    grid-area: header;
}

.navigation-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar li {
    margin-right: 20px;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.navigation-bar {
    display: grid;
    justify-content: right;
}

/* title bar container */

.title-bar-container {
    grid-area: title-bar-container;
    display: grid;
    justify-items: center;
}

/* bullet points */

.bullet-points {
    grid-area: bullet-points;
    display: grid;
    justify-items: center;
}

.services {
    display: grid;
    grid-template-rows: 90px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.services-container li {
    line-height: 1.5;
    list-style: none;
    font-size: 1.25rem;
}

.services-container li a {
    color: #000000a8;
}

/* service descriptions */

.service-descriptions {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: repeat(11, auto);
    row-gap: 25px;
}

/* containers */

.information-container {
    background-color: white;
    align-items: flex-start;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 50px 0;
    height: auto; /* Changed from fixed height to auto */
    display: flex;
    flex-direction: row; /* Default direction */
    margin: 15px;
}

.information-container-image {
    grid-area: information-container-image;
    height: 100%;
    width: 100%;
    position: relative;
}

.information-container-image img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.information-container-text {
    grid-area: information-container-text;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.information-container-text-title {
    margin-left: 20px;
}

.information-container-text-paragraph {
    margin-left: 20px;
    width: 90%;
}

.button-links {
    display: flex;
    padding: 20px;
}

.contact-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    border: 1px solid #08878b;
    border-radius: 5px;
}

.portfolio-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    border: 1px solid #08878b;
    border-radius: 5px;
    margin-left: 10px;
}

.portfolio-link a:hover {
    background-color: #08878b;
    border-radius: 5px;
}
    
.contact-link a:hover {
    background-color: #08878b;
    border-radius: 5px;
}

/* decks */

.decks {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* electrical */

.electrical {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* fences */

.fences {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* floors */ 

.floors {
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* framing */

.framing {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* plumming */

.plumming {
    display: grid;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* remodels & rennovations */

.remodels {
    display: grid;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* siding */ 

.siding {
    display: grid;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* tiling */

.tiling {
    display: grid;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* walls */

.walls {
    display: grid;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

/* windows */ 

.windows {
    display: grid;
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
}

.button {
    width: 100%;
    height: 50px;
    text-align: center;
}

/* footer */

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 24px;
    height: 24px;
    padding: 0 5px;
}

.footer-section1 {
    display: grid;
    justify-content: center;
}

.footer-section3 {
    display: grid;
    justify-content: center;
}

.footer-bottom {
    display: grid;
    justify-content: center;
}

@media (max-width: 768px) {

    .navigation-bar li {
        margin-right: 10px;
    }

    .services {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }

    .service-descriptions {
        display: grid;
        grid-template-columns: -1fr 6fr -1fr;
        grid-template-rows: repeat(11, auto);
    }

    .information-container {
        display: grid;
        grid-template-areas: "information-container-image"
                             "information-container-text";
    }

    .information-container-image {
        height: 100%;
        width: 100%;
    }

    .decks {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .electrical {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .fences {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .floors {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .framing {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .plumming {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .remodels {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .siding {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .tiling {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .walls {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .windows {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .footer-container p {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-section1 {
        display: none;
    }

    .footer-section2 {
        margin-left: 15px;
    }

}

